<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
  <!-- To save as "hello\WEB-INF\web.xml" -->

  <servlet>
    <servlet-name>FlugManagementServlet</servlet-name>
    <servlet-class>controller.FlugManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlugEintragenServlet</servlet-name>
    <servlet-class>controller.FlugEintragenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlugLoeschenServlet</servlet-name>
    <servlet-class>controller.FlugLoeschenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlugZeigenServlet</servlet-name>
    <servlet-class>controller.FlugZeigenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlugBuchungServlet</servlet-name>
    <servlet-class>controller.FlugBuchungServlet</servlet-class>
  </servlet>

  <!-- Note: All <servlet> elements MUST be grouped together and
       placed IN FRONT of the <servlet-mapping> elements -->

  <servlet-mapping>
    <servlet-name>FlugManagementServlet</servlet-name>
    <url-pattern>/management</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlugEintragenServlet</servlet-name>
    <url-pattern>/management/eintragen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlugLoeschenServlet</servlet-name>
    <url-pattern>/management/loeschen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlugZeigenServlet</servlet-name>
    <url-pattern>/flugliste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlugBuchungServlet</servlet-name>
    <url-pattern>/buchung</url-pattern>
  </servlet-mapping>

  <security-role>
      <role-name>fluggesellschaft</role-name>
  </security-role>

  <security-constraint>
      <web-resource-collection>
          <web-resource-name>management page</web-resource-name>
          <url-pattern>/management</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>fluggesellschaft</role-name>
      </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/login-failed.html</form-error-page>
    </form-login-config>
  </login-config>
</web-app>